.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 39px;
  border-radius: 50px;
  background: #303539;
  border: none;
  cursor: pointer;
  color: #299ded;
  font-size: 25px;
  margin-right: 11px;
}
.btn:last-child {
  margin-right: 0;
}
.current {
  color: #606365;
}
.pagination {
  display: flex;
}
