.header {
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 122px;
  background: #1b1e21;
}
.title {
  font-size: 25px;
  color: #fff;
}
